* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e5e5e5;
}

.container {
  width: 400px;
  height: auto;

  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 12px;
  border-bottom: #e5e5e5 1px solid;
}

header i {
  color: #1c1c1c;
  font-size: 20px;
}

header h1 {
  font-size: 20px;
  color: #1c1c1c;
}

.filtro {
  margin: 20px 0;
}

.filtro p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #1c1c1c;
}

.filtro select {
  margin-top: 10px;
  width: 100%;
  height: 60px;

  border: 1px solid #e5e5e5;
  border-radius: 4px;

  padding: 12px;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_users {
  width: 100%;
  height: auto;
  margin: 14px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.card_users i {
  font-size: 32px;
  color: #137fec;
}

.card_users div {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.card_users div h2 {
  font-size: 18px;
  color: #137fec;
}

.card_users div p {
  font-size: 13px;
  color: #a7a5a5;
}

.card_users .idade {
  padding: 6px;
  background: #e5e5e5;
  border-radius: 6px;

  font-size: 12px;
  font-weight: bold;
  color: #1c1c1c;
}

footer {
  width: 100%;
  height: 100px;

  position: relative;
}

footer i {
  background: #137fec;
  color: white;
  padding: 16px;
  border-radius: 100%;

  font-size: 20px;

  position: absolute;
  right: 10px;
  bottom: 10px;
}
